*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px; /*ширина*/
  block-size: 800px;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content,
.result,
.content__details {
  display: flex;
}

.content {
  flex-direction: row;
  align-items: end;
  width: 1140px;
  height: 534px;
  gap: 32px;
}

.result,
.content__details {
  flex-direction: column;
}

.result__video-container {
  margin-bottom: 25px;
  width: 711px;
  height: 386px;
}

.result__video {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset-title {
  font-size: 18px;
  line-height: 100%;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0%;
}

.content__details {
  gap: 26px;
  width: 399px;
}

.title {
  margin-right: 139px;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  line-height: 92%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  overflow: scroll;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  text-decoration: none;
  color: white;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-size: 30px;

}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.content__video-card-description-container {
  flex-grow: 2;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center center;
}