*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1200px; 
  min-height: 800px;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;

}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content__list-container::-webkit-scrollbar-corner {
  background-color: white;
}

.content,
.result,
.content__details {
  display: flex;
}

.content {
  min-height: 0;
  flex-direction: row;
  align-items: end;
  width: 1140px;
  height: 534px;
  gap: 32px;
}

.result,
.content__details {
  flex-direction: column;
}

.result__video-container {
  position: relative;
  margin-bottom: 18px;
  width: 711px;
  height: 386px;
}

.result__video {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.search-form {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
  flex-grow: 1;
}

.search-form__fieldset:first-child {
  min-width: 225px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  line-height: 100%;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0%;
  margin-bottom: 7px;
}

.search-form__textfield {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  padding-top: 1px;
  padding-bottom: 2px;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: #fff;
  background: transparent;
  font: inherit;
  line-height: 100%;
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid white;
  padding: 1px;
  margin-bottom: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
    opacity: 1;
}

.search-form__label:hover > .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  color: white;
  line-height: 100%;
  font-weight: 700;
  text-align: center;
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: end;
}

.more-button {
  height: 34px; 
  flex-shrink: 0;
  margin-bottom: 2px;
  margin-right: 3px;
}

.content__details {
  gap: 24px;
  width: 399px;
  height: 100%;
}

.title {
  padding-top: 5px;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  line-height: 92%;
  text-transform: uppercase;
  text-align: left;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 0px;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-right: 3px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  line-height: 110%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
  max-width: 196px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  line-clamp: 2;
}

.content__video-card-thumbnail {
  flex: 0 0 194px;
  height: 103px;
  object-fit: cover;
  object-position: center center;
}